<p>pokemon-card works!</p>
<div class="card">
  <img class="card-img-top" src="" alt="Pokemon Image">
  <div class="card-body">
    <h5 class="card-title">Nom du Pokémon</h5>
    <p class="card-text">ID du Pokémon</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Type du Pokémon</li>
    <li class="list-group-item">Capacité 1</li>
    <li class="list-group-item">Capacité 2</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Lien 1</a>
    <a href="#" class="card-link">Lien 2</a>
  </div>
</div>
